html{
    margin: 0px;
    padding: 0px;
    border: 0;
}

body{
    background-color: lightgrey;

}
/*Tera jest zabawa*/
article{
    background-color: yellowgreen;
    color:black;
    width: 80%;
    border: 3px solid black;
    margin:30px auto 0 auto ;
    padding: 15px;
    /*css3 maker w necie */
    -moz-box-shadow:inset -2px -8px 45px #000000;
    -webkit-box-shadow:inset -2px -8px 45px #000000;
    box-shadow:inset -2px -8px 45px #000000;

}

h1 {
    font-size: 2.75em;
    font-family: Georgia, "Times New Roman", serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2pc;
    background-color: #c3cd8f;
    color: black;
    margin: 0 -15px 20px -15px;
}

h2{
    font-size: 2.75em;
    font-family: Georgia, "Times New Roman", serif;
    color: #ff511a;
    border-top:1px solid #ff511a;
    border-bottom:1px solid #ff511a;
    padding: 5px 0px 5px 0px;
    margin:0 -15px 20px -15px;
    overflow: hidden;


}
aside{
    float: right;
    width: 30% ;
    border: 3px dotted black;
    margin:15px 0 15px 0 ;
    padding:15px ;
    background: #b2f511;
    border-top: 20px solid brown;
    -moz-box-shadow: -6px 10px 26px #000000;
    -webkit-box-shadow: -6px 10px 26px #000000;
    box-shadow: -6px 10px 26px #000000;

}

figure{
    float: left;
    width:50px;
    border: 10px solid dimgray;

}
.stolice{
    width: 100%;
    font-family: "Trebuchet MS",Arial,Helvetica, sans-serif;
    margin-top: 25px;
    border-collapse: collapse;
}
.stolice caption{
    text-align: center;
    font-size: 1.1em;
    border: 1px solid  #DDB575;
    padding: 3px 7px 2px 7px;
}

.stolice td, .stolice th {
    font-size: 1.1em;
    border: 1px solid #DDB575;
    padding: 3px 7px 2px 7px;
}

