h1 {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

label {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}