*{box-sizing: border-box;}



@media screen and (max-width: 20560px) {
body {
    margin: 0;
    background-color: #333;
    color: #eeffee;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1.logo {
    font-size: 44px;
    font-weight: 700;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
}


#topnav {
    background-color: #fed502;
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    min-height: 36px;
    line-height: 200%;

}

.menu > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #0a2b42;

}

.menu > li:first-child {
    border-left: 1px dashed #0a2b42;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.categories {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    text-align: center;
    padding: 0;
}

h1 {
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #fed502;
}

.animals {
    display: inline-block;
    margin-top: 10px;
}

.animals a {
    opacity: 0.9;
    max-height: 50px;
    max-width: 50px;
}

.animals a:hover {
    opacity: 1.1;
}

.animals a img {
    width: 250px;
}
.row
{
    margin:20px 10px;
}

.info {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: justify;
    padding-right: 200px;
}


.west h1 {
    text-align: center;

}

.info h1 {
    text-align: left;
    font-size: 29px;
}

.info h2 {
    color: #b2f511;
    margin-left: 29px;
}

.info p {
    margin-left: 29px;
}
.table
{
    margin-bottom: 200px;
    margin-top: 50px;
    margin-left: 5px;
}
.gatunki caption {
    text-align: center;
    font-size: .85em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gatunki td, .gatunki th {
    font-size: 1.1em;
    border: 1px solid #DDB575;
    padding: 3px 7px 2px 7px;
}

.gatunki th {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 70%;
    margin-top: 25px;
    background-color: #276fff;
    border: 1px solid #DDB575;
}
.container
{
    margin-left: 50px;
}

.video
{
    position: center;
    margin-left: 60px;

}
.about
{
    margin-bottom: 100px;
}
.about h1 , .about h2
{
    text-align: center;
}


.socials {
    width: 100%;
    text-align: center;
    background-color: #191d21;
    color: white;
}

.socialdivs {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.fb {
    width: 250px;
    height: 155px;
    float: left;
}

.fb:hover {
    background-color: #4668b3;
}

.yt {
    width: 250px;
    height: 155px;
    float: left;
}

.yt:hover {
    background-color: #d94348;
}

.tw {
    width: 250px;
    height: 155px;
    float: left;
}

.tw:hover {
    background-color: #3095d3;
}

.gplus {
    width: 250px;
    height: 155px;
    float: left;
}

.gplus:hover {
    background-color: #d95333;
}

a.sociallink {
    color: #ffffff;
    text-decoration: none;
}
}




/*Typowy  Ekran laptopa 17 */
@media screen and (max-width: 1024px) {
    body {

        width: 100%;
        margin: 0;
        background-color: #333;
        color: #eeffee;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
    }


    h1.logo {
        font-size: 44px;
        font-weight: 700;
        color: #ddd;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    #topnav {
        background-color: #fed502;
        text-align: center;
    }

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        font-size: 18px;
        min-height: 36px;
        line-height: 200%;

    }

    .menu > li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px dashed #0a2b42;

    }

    .menu > li:first-child {
        border-left: 1px dashed #0a2b42;
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }

    .categories {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    h1 {
        font-size: 44px;
        margin-bottom: 20px;
        font-weight: 400;
        color: #fed502;
    }

    .animals {
        display: inline-block;
        margin-top: 10px;
    }

    .animals a {
        opacity: 0.9;
        max-width: 20%;

    }

    .animals a:hover {
        opacity: 1.1;
    }

    .animals a img {
        width: 30%;
    }


    .info {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: justify;
        padding-right: 200px;
    }


    .west h1 {
        text-align: center;

    }

    .info h1 {
        text-align: left;
        font-size: 29px;
    }

    .info h2 {
        color: #b2f511;
        margin-left: 29px;
    }

    .info p {
        margin-left: 29px;
    }

    .table {
        margin-bottom: 200px;
        margin-top: 50px;
        margin-left: 5px;
    }

    .gatunki caption {
        text-align: center;
        font-size: .85em;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .gatunki td, .gatunki th {
        font-size: 1.1em;
        border: 1px solid #DDB575;
        padding: 3px 7px 2px 7px;
    }

    .gatunki th {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 70%;
        margin-top: 25px;
        background-color: #276fff;
        border: 1px solid #DDB575;
    }

    .container {
        margin-left: 50px;
    }

    .video {
        position: center;
        margin-left: 60px;

    }

    .about {
        margin-bottom: 100px;
    }

    .about h1, .about h2 {
        text-align: center;
    }


    .socials {
        width: 100%;
        text-align: center;
        background-color: #191d21;
        color: white;
    }

    .socialdivs {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .fb {
        width: 25%;
        height: 155px;
        float: left;
    }

    .fb:hover {
        background-color: #4668b3;
    }

    .yt {
        width: 25%;
        height: 155px;
        float: left;
    }

    .yt:hover {
        background-color: #d94348;
    }

    .tw {
        width: 25%;
        height: 155px;
        float: left;
    }

    .tw:hover {
        background-color: #3095d3;
    }

    .gplus {
        width: 25%;
        height: 155px;
        float: left;
    }

    .gplus:hover {
        background-color: #d95333;
    }

    a.sociallink {
        color: #ffffff;
        text-decoration: none;
    }

}





/*Smartfony*/
@media screen and (max-width:768px ) {
    body {

        width: 100%;
        margin: 0;
        background-color: #333;
        color: #eeffee;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
    }


    h1.logo {
        font-size: 44px;
        font-weight: 700;
        color: #ddd;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    #topnav {
        background-color:#fed502;
        text-align: center;
    }

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        font-size: 18px;
        min-height: 36px;
        line-height: 200%;

    }

    .menu > li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px dashed #0a2b42;

    }

    .menu > li:first-child {
        border-left: 1px dashed #0a2b42;
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }

    .categories {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        text-align: center;
        padding: 0;
    }

    h1 {
        font-size: 44px;
        margin-bottom: 20px;
        font-weight: 400;
        color: #fed502;
    }

    .animals {
        display: inline-block;
        margin-top: 10px;

    }

    .animals a {
        opacity: 0.9;
        max-height: 50%;
        max-width: 40%;
        border-radius: 19px;
    }

    .animals a:hover {
        opacity: 1.1;
    }

    .animals a img {
        width: 25%;
    }


    .info {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: justify;
        padding-right: 200px;
    }


    .west h1 {
        text-align: center;

    }

    .info h1 {
        text-align: left;
        font-size: 29px;
    }

    .info h2 {
        color: #b2f511;
        margin-left: 29px;
    }

    .info p {
        margin-left: 29px;
    }

    .table {
        margin-bottom: 200px;
        margin-top: 50px;
        margin-left: 5px;
    }

    .gatunki caption {
        text-align: center;
        font-size: .85em;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .gatunki td, .gatunki th {
        font-size: 1.1em;
        border: 1px solid #DDB575;
        padding: 3px 7px 2px 7px;
    }

    .gatunki th {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 70%;
        margin-top: 25px;
        background-color: #276fff;
        border: 1px solid #DDB575;
    }

    .container {
        margin-left: 50px;
    }

    .video {
        position: center;
        margin-left: 60px;
        width: 100%;

    }

    .about {
        margin-bottom: 100px;
    }

    .about h1, .about h2 {
        text-align: center;
    }


    .socials {
        width: 100%;
        text-align: center;
        background-color: #191d21;
        color: white;
    }

    .socialdivs {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .fb {
        width: 25%;
        height: 155px;
        float: left;
    }

    .fb:hover {
        background-color: #4668b3;
    }

    .yt {
        width: 25%px;
        height: 155px;
        float: left;
    }

    .yt:hover {
        background-color: #d94348;
    }

    .tw {
        width: 25%;
        height: 155px;
        float: left;
    }

    .tw:hover {
        background-color: #3095d3;
    }

    .gplus {
        width: 25%;
        height: 155px;
        float: left;
    }

    .gplus:hover {
        background-color: #d95333;
    }

    a.sociallink {
        color: #ffffff;
        text-decoration: none;

    }
}