html body{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family:verdana, arial, sans-serif;
    background-image: url("img1/bodybuilding-311351_640.png ")  ;
    background-position: 30px 45px;
    font-size: 200% ;

}
#strona{
    width: 100%;
    margin: 0 auto 0 auto;
    border: 1px slategray;
}
header{
    height: 120px;
    font-family: "Microsoft JhengHei";
    font-size: 60px;
    background-image: url("img1/white-1866105_1280.jpg");
    font-weight: 100;
    color: darkslategrey;
    text-align: center;
}
nav {
    float: left;
    background: lightsalmon;
    width: 25px;
}
footer{
    height: 40px;
    font-family: Pristina;
    font-weight: bold;
    background-color: whitesmoke;
    text-align: center;

}
section {
    float: left;
    width: 30%;
}
article{
    background-color: #d6d8db;
    font-weight: normal;
    color: black;
    padding: 0.2% 1.5% 0.1% 0.5%;
    float: left;

}
aside a {
    width: 200px;
    font-weight: normal;
    color: #666666;
    background-color: #b2f511;
    padding: 0.2% 1.5% 0.1% 0.5%;
}
@media screen and (min-width: 480px) and (max-width: 1024px){
    aside{
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    aside {
        width: 22%;
        float: left;
        padding: 0px 10px 0px 15px;
        background: #d6d8db;
    }
}
nav ul li, nav ul li :visited{
    width: 150px;
    display: block;
    border: 2px solid darkseagreen;
    text-align: left;
    font-weight: normal;
    text-decoration: none;
    color: #575757;
    background: rgba(173, 255, 47, 0.73);
    margin: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
    float: left;

}
nav ul a:hover{
    font-weight: bolder;
    background-color: #a1e400;
    display: block;
    background-position: 4px ;
}
/* aside kalkulator kaloryki*/
aside a, aside a:visited{
    width: 150px;
    display: block;
    border: 2px solid darkseagreen;
    text-align: left;
    font-weight: normal;
    text-decoration: none;
    color: #575757;
    background: rgba(173, 255, 47, 0.73);
    padding: 3px;
    margin: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;

}
aside a:hover{
    font-weight: bolder;
    background-color: orangered;
    background-position: 4px ;
}

.f1{
    border-top: 200px;
}


